# Modelos e checkpoints
*.nemo
*.ckpt
*.safetensors
*.pt

# Áudio e vídeo brutos
*.wav
*.mp4
*.flac
*.mp3

# Dados grandes
data/
!data/.gitkeep

# Python
__pycache__/
*.pyc
.venv/
venv_wav2lipvenv/
.ipynb_checkpoints/

# Saídas
out/
outputs/
*.log

wandb/